<div class="cs-questions" data-questions>
    <div class="cs-questions-toolbar" data-questions-toolbar>
        <label class="cs-questions-control cs-questions-control--sort">
            <span class="cs-questions-control-label">{{lang 'products.questions.sort_label'}}</span>
            <select class="cs-questions-select" data-questions-control="sort">
                <option value="date_desc">{{lang 'products.questions.sort_newest'}}</option>
                <option value="date_asc">{{lang 'products.questions.sort_oldest'}}</option>
            </select>
        </label>
    </div>
    <div id="product-questions"></div>
    <div class="cs-questions-pagination" data-questions-pagination></div>
</div>
